.carousel-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.carousel-main {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;

  .btn-close-carousel {
    display: inline-block;
    background: red;
    vertical-align: top;
  }

  .main-header {
    vertical-align: top;
    border-bottom: 1px solid #dee1e6;
    display: inline;
  }

  max-width: 40rem;
  margin: 15px auto 0 auto;
  border-bottom: 1px solid #dee1e6;

  // Arrows style
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: url('../assets/arrow-right.svg');
    background-color: hsla(0, 0%, 100%, 0.5);
    height: 67px;
    width: 41px;
    border-radius: 3px 0 0 3px;
    opacity: 0;
    transition: all 0.3s linear;
    border: 1px solid #dee1e6;
  }

  .carousel-control-next-icon {
    position: absolute;
    right: 0;
    border-right: none;
  }
  .carousel-control-prev-icon {
    position: absolute;
    left: 0;
    border-left: none;
    transform: rotate(180deg) translateY(-5%);
  }

  // Arrows however on carousel
  &:hover .carousel-control-prev-icon,
  &:hover .carousel-control-next-icon {
    opacity: 1;
  }

  // Single arrow however
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-image: url('../assets/arrow-hover.svg');
    background-color: #fff;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3);
  }

  // Carousel indicators
  .carousel-indicators {
    li {
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background: hsla(0, 0%, 100%, 0.5);
      border: 1px solid #999;
      transition: all 0.2s ease-in;
    }

    li.active {
      background: #fc7c41;
      transform: scale(1.6);
    }
  }
}
