.main {
  background-color: #f1f3f7;
  padding-top: 15px;
}
.main-header {
  margin: 0 auto;
  display: block;
  max-width: 40rem;
  text-align: center;
  background-color: #fff;
  padding: 20px 0 15px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
